<footer class="site-footer">
  <div class="wrapper">
    <div class="dro-footer-cols">
      <div>
          <div>Yannis Drosidis</div>
          <div>
            <i class="fas fa-envelope"></i>
            <a class="dro-em" href="mailto:bucket@drosidis.com">bucket@drosidis.com</a>
          </div>
          <div>
            <i class="fas fa-phone-square-alt"></i>
            <a href="tel:+447956636587">+44 7956 636 587</a>
          </div>
      </div>
      <div>
        <div class="dro-social text-right">
          <a href="{{ 'feed.xml' | relative_url }}"><i class="fas fa-rss-square"></i></a>
          <a href="https://www.linkedin.com/in/drosidis/"><i class="fab fa-linkedin"></i></a>
          <a href="https://stackoverflow.com/users/17876/idrosid"><i class="fab fa-stack-overflow"></i></a>
          <a href="https://github.com/drosidis"><i class="fab fa-github-square"></i></a>
        </div
      </div>
    </div>
  </div>
</footer>